@tailwind base;
@tailwind components;
@tailwind utilities;

.dropbtn {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    /* padding: 10px; */
    font-size: 16px;
    border: none;
}

.extra{
    background: linear-gradient(to top right, #000066 0%, #cc0066 100%);
}
.inner{
    height: 95%;
    width: 98%;
}